.page-bg {
    height: 100vh;
    background: url('../img/background.jpg') 0 0/cover no-repeat;
    overflow-y: scroll;
    font-family: 'Ubuntu', sans-serif;
}

.table {
    width: 1200px;
    margin: auto;
    transform: translateY(calc((100vh - 67px - 702px) / 2));
    border-collapse: collapse;
    border: 20px solid   #DCDCDC	;
    font-family: "Arimo", sans-serif;
    background: white;
}

td {
    border: 1px solid #DCDCDC;
}

.table-heading {
    width: 310px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #484848;
    margin-top: 20px;
}

.table-heading-second {
    display: block;
}

.table-heading-standard {
    font-weight: bold;
    font-size: 24px;
    background: #89C331;
    width: 280px;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.table-heading-ultimate {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background: #F04A56;
    width: 280px;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.table-heading-premium {
    font-weight: bold;
    font-size: 24px;
    background: #20807C;
    width: 280px;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.table-heading-bottom {
    display: block;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #484848;
    border: 0;
}

.table-row-first {
    text-align: center;
    font-size: 16px;
    color: #484848;
    text-transform: uppercase;
    background: #F2F2F2;
}

.table-row-second {
    text-align: center;
    font-size: 16px;
    color: #484848;
    text-transform: uppercase;
    background: #E3E3E3;
}

.price {
    position: relative;
    font-size: 60px;
    font-weight: bold;
    color: #484848;
    margin-top: 20px;
    margin-left: 45px;

}

.price-coins {
    position: absolute;
    top: 0;
    font-size: 24px;
}

.price-plan {
    position: absolute;
    top: 30px;
    width: 111px;
    font-size: 18px;
    text-transform: uppercase;
}

.table-sizing {
    padding: 25px;
}

.foot-button {
    display: inline-block;
    font-weight: bold;
    width: 195px;
    border-radius: 5px;
    padding: 15px 0 11px;
    text-decoration: none;
    margin: 30px auto;
    color: white;
    transition: .3s;
}

.foot-button-tundora {
    background: #484848;
    box-shadow: 0 5px 0 #404848;
}

.foot-button-green {
    background: #89C331;
    box-shadow: 0 5px 0 #89C331;
}

.foot-button-carnation {
    background: #F04A56;
    box-shadow: 0 5px 0 #F04A56;
}

.foot-button-elm {
    background: #20807C;
    box-shadow: 0 5px 0 #20807C;
}

.foot-button:hover {
    background: aqua;
    color: white;
    box-shadow: 0 5px 0 aqua;
    transform: scale(1.2);
}

.icon {
    display: block;
    margin-right: 10px;
    color: #848484;
}