.header {
   padding: 10px 30px;
   background: linear-gradient(125deg, rgba(0,0,0,1) 5%, rgba(15,17,46,1) 25%, rgba(8,31,36,1) 65%, rgba(28,27,27,1) 100%);
   display: flex;
   align-items: center;
 
   &__title {
     font-size: 28px;
     color: white;
     margin-left: 20px;
     text-transform: capitalize;
     cursor: pointer;
   }
 
   &__logo {
     width: 70px;
     height: 70px;
 
     & > img {
       width: 100%;
       height: 100%;
       cursor: pointer;
       border-radius: 10px;
     }
   }

   &__title::hover {
      color: aqua;
   }
 }
 