.order-form {
  grid-column: 1 / 3;
  grid-row: 1 / 2 ;
  box-sizing: border-box;
  min-height: 30vh;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  z-index: 1;
  border-radius: 15px;
  border: 5px solid rgb(232, 204, 92);
  background-color: rgb(12, 27, 45);

    &__validation-field {
      min-height: 30px;
      grid-column: 2 / 3;
      text-align: right;
    }

  & > label {
    padding: 3px 0;
    grid-column: 1 / 1;
    font-size: 0.9em;
    align-self: center;
    text-align: right;
    text-transform: capitalize;
    color: rgb(219, 187, 51);
    font-weight: 800;
    letter-spacing: 1px;
  }

  & > input {
    padding: 3px 0;
    grid-column: 2 / 3 ;
    font-size: 0.85em;
    max-height: 20px;
    align-self: center;
  }
}

.error-msg {
  color: red;
  font-size: 0.75em;
  grid-column: 1 / 3;
  text-align: center;
}