@import "src/components/Cart/EmptyCart/EmtyCart";
@import "src/components/Catalog/Catalog";
.fav-page {
  @extend .catalog;
  display: block;

  &__empty-favorites-msg {
    @extend .empty-cart__text;
  }
}
