* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.wrapper-head {
    height: 100vh;
    min-height: 1080px;
    background: url("../img/wraper.png") 0 0/cover no-repeat;
}

.top-head-bg {
    background: rgba(94, 93, 88, 0.6);
}

.top-head {
    display: flex;
    justify-content: space-between;
}

.logo-text {
    font-size: 32px;
    text-decoration: none;
    color: white;
}

.logo-text-color {
    color: #18CFAB;
}

.logo-text::before {
    content: 'H';
    text-align: center;
    margin: 20px 5px 20px 0;
    padding-top: 7px;
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
    width: 58px;
    height: 60px;
    background-image: url("../img/polygon 1 1.svg");
}

.navbar {
    display: flex;
}

.navbar-list {
    margin-top: 50px;
    margin-right: 20px;
    list-style: none;
}

.navbar-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 36px;
}

.navbar-link:hover {
    border-bottom: 2px solid #18CFAB;
}

.text-title {
    text-align: center;
    margin-top: 255px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    color: white;
}

.text-title-color {
    color: #18CFAB;
}

.textsecond-title {
    display: block;
    font-size: 78px;
}

.texthird-title {
    display: block;
    text-transform: none;
    opacity: 0.4;
}

.buttons {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.button {
    margin-right: 30px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px;
    border-radius: 7px;
    background: #18CFAB;
    border: 2px solid transparent;
    border-top: 5px solid white;
    color: white;
}

.option {
    display: flex;
    margin-top: 10px;
}

.option-bg {
    width: 25%;
    text-align: center;
    padding: 45px;
    background: #18CFAB;
}

.option-img {
    margin-top: 90px;
    height: 100px;
}

.option-text {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #18CFAB;
}

.heading-content {
    margin-top: 80px;
    text-align: center;
    font-size: 36px;
    color: #4E4E4E;
}

.heading-line-first {
    width: 80px;
    margin: 25px 50% 0 46%;
    border: 1px solid #18CFAB;
}

.heading-line-second {
    align-items: center;
    width: 80px;
    margin: 5px 43% 70px 47%;
    border: 1px solid #18CFAB;
}

.navbar-services {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.navbar-services-list {
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 15px;
    background: #EEE;
    border: 1px solid transparent;
    text-decoration: none;
    cursor: pointer;
}

.focus {
    position: relative;
    color: white;
    background: #18CFAB;
}

.focus::after {
    content: '';
    position: absolute;
    border: 12px solid transparent;
    border-top: 12px solid #18CFAB;
    margin-top: 34px;
    right: 85px;
}

.services-content {
    list-style: none;
}

.services-content-img {
    margin-right: 15px;
    float: left;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.navbar-services-list:hover {
    border: 1px solid #18CFAB;
}


.wrapper-information {
    width: 100%;
    margin-top: 90px;
    text-align: center;
    min-height: 430px;
    background: url("../img/wraper-second.png") 0 0/cover no-repeat;
}

.text-wrapper-information {
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 120px;
    margin-bottom: 12px;
    color: #18CFAB;
}

.text-wrapper-information2 {
    font-size: 16px;
    color: #D8D8D8;
    margin-bottom: 100px;
}

.sort-img {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.sort-img-list {
    font-size: 14px;
    padding: 14px;
    list-style: none;
    background: #F0F8FF;
    border: 1px solid #DADADA;
    color: #717171;
    cursor: pointer;
}

.focus-sort {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.amazingwork-img {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.amazingwork-item {
    width: 100%;
    height: 100%;
}

.funny {
    width: 25%;
}

.button-loadmore {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    background: #18CFAB;
    color: white;
}

.button-loadmore::before {
    content: '';
    margin-top: 2px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    background: url("../img/plus.png") no-repeat;
}

.brakingnews-gallery {
    width: 260px;
    position: relative;
    float: left;
    margin-right: 35px;
    margin-bottom: 40px;
    text-decoration: none;
}

.brakingnews-gallery-item1 {
    padding-bottom: 180px;
    background: url("../img/breaking news 1.png") no-repeat;
}

.brakingnews-gallery-item2 {
    padding-bottom: 180px;
    background: url("../img/breaking news 2.png") no-repeat;
}

.brakingnews-gallery-item3 {
    padding-bottom: 180px;
    background: url("../img/breaking news 3.png") no-repeat;
}

.brakingnews-gallery-item4 {
    padding-bottom: 180px;
    background: url("../img/breaking news 4.png") no-repeat;
}

.brakingnews-gallery-item5 {
    padding-bottom: 180px;
    background: url("../img/breaking news 5.png") no-repeat;
}

.brakingnews-gallery-item6 {
    padding-bottom: 180px;
    background: url("../img/breaking news 6.png") no-repeat;
}

.brakingnews-gallery-item7 {
    padding-bottom: 180px;
    background: url("../img/breaking news 7.png") no-repeat;
}

.brakingnews-gallery-item8 {
    padding-bottom: 180px;
    background: url("../img/breaking news 8.png") no-repeat;
}

.brakingnews-gallery-text {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.brakingnews-gallery-comment {
    text-align: center;
    white-space: pre;
    margin-top: 5px;
    color: #777777;
}

.brakingnews-gallery:nth-child(4n) {
    margin-right: 0;
}

.brakingnews-gallery-information {
    position: absolute;
    opacity: 0;
    padding: 10px;
    text-align: right;
    left: 212px;
    color: white;
    background: #18CFAB;
}

.text-wrapper-informationdate {
    text-align: center;
}

.brakingnews-gallery:hover .brakingnews-gallery-information {
    opacity: 1;
}

.brakingnews-gallery:hover .brakingnews-gallery-text {
    color: #18CFAB;
}

.wrapper-staff {
    width: 100%;
    background: url("../img/wraper-staff.png") 0 0/cover no-repeat;
}

.img-comma {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
}

.text-staff-name {
    text-align: center;
    margin-top: 35px;
    font-weight: bold;
    color: #18CFAB;
}

.text-staff-prof {
    margin-top: 7px;
    display: block;
    padding-bottom: 40px;
    color: #BBBBBB;
}

.main-img-work {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 143px;
    height: 142px;
    border-radius: 100px;
    border: 10px solid hsla(120, 100%, 25%, 0.2);

}

.worker {
    position: relative;
    text-align: center;
    margin-top: 45px;
    padding-bottom: 100px;
}

.worker-img-item {
    border-radius: 100px;
    border: 10px solid hsla(120, 100%, 25%, 0.2);
    margin-right: 30px;
}

.selected {
    margin-bottom: 15px;
}

.worker-arrow-left {
    display: inline-block;
    position: absolute;
    padding: 6px 10px;
    top: 23%;
    left: 290px;
    border: 1px solid #BBBBBB;
    background: rgba(0, 0, 0, 0.0001);
    color: #BBBBBB;
    cursor: pointer;
}

.worker-arrow-right {
    display: inline-block;
    position: absolute;
    padding: 6px 10px;
    top: 20%;
    right: 315px;
    border: 1px solid #BBBBBB;
    background: rgba(0, 0, 0, 0.0001);
    color: #BBBBBB;
    cursor: pointer;
}

.worker-arrow-left:hover {
    border: 1px solid #18CFAB;
    background: #18CFAB;
    color: white;
}

.worker-arrow-right:hover {
    border: 1px solid #18CFAB;
    background: #18CFAB;
    color: white;
}

.footer-bg {
    text-align: center;
    margin-top: 80px;
    width: 100%;
    padding: 50px;
    background: #22353F;
}

.footer-text {
    color: white;
}

.footer-text-color {
    color: #18CFAB;
    text-decoration: none;
}

.amazingwork-item-bg {
    text-align: center;
    border: 2px solid transparent;
    border-top: 2px solid #18CFAB;
    background: #E9EDEF;
}

.amazingwork-bg-button {
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #18CFAB;
    border-radius: 100px;
}

.amazingwork-bg-text {
    margin-top: 25px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: bold;
    color: #18CFAB;
}

.amazingwork-bg-textsecond {
    margin-bottom: 30px;
    display: block;
    font-size: 12px;
    color: #8A8A8A;
}