* {
    box-sizing: border-box;
}

.page-bg {
    height: 100vh;
    background: url('../img/background.png') 0 0/cover no-repeat;
    overflow-y: scroll;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 1154px;
    margin: 0 auto;
}

.navbar-bg {
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
}

.navbar-title {
    float: left;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar-title:hover {
    color: #3CB878;
}

.navbar-info {
    float: right;
}

.navbar-register {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
}

.navbar-login {
    color: white;
    text-decoration: none;
}

.navbar-login:hover {
    color: #3CB878;
}

.navbar-sigup {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.navbar-sigup:hover {
    color: #3CB878;
}

.navbar-register::before {
    content: '';
    border-left: 1px solid white;
    width: 19px;
    margin-right: 30px;
    opacity: 0.5;
}

.navbar-calendar{
    padding: 12px;
    vertical-align: bottom;
    display: inline-block;
    background: url('../img/header_sprites.png') -10px -49px no-repeat;
    margin-right: 30px;
}

.navbar-forum {
    padding: 12px;
    vertical-align: bottom;

    display: inline-block;
    background: url('../img/header_sprites.png') -12px -89px no-repeat;
    margin-right: 30px;
}

.navbar-compass {
    padding: 12px;
    vertical-align: bottom;

    display: inline-block;
    background: url('../img/header_sprites.png') -10px -129px no-repeat;
    margin-right: 30px;
}

.navbar-calendar:hover {
    background: url('../img/header_sprites.png') -10px -10px no-repeat;
}

.navbar-forum:hover {
    background: url('../img/header_sprites.png') -12px -169px no-repeat;
}

.navbar-compass:hover {
    background: url('../img/header_sprites.png') -10px -209px no-repeat;
}

.register-form {
    width: 444px;
    background: white;
    border-radius: 5px;
    margin: 65px auto;
    transform: translateY(calc((100vh - 67px - 702px) / 2));
}

.form-container {
    padding: 30px 60px;
}

.signup-form {
    position: relative;
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #434343;
}

.signup-form::before {
    content: '';
    position: absolute;
    display: inline-block;
    padding: 9px;
    top: 7px;
    right: 110px;
    background-color: #3CB878;
}

.login-form {
    float: right;
    font-weight: bold;
    text-decoration: none;
    color: #3CB878;
}

.button-wrapper-form {
    display: inline-block;
    margin-bottom: 20px;
}

.facebook-button-form {
    display: inline-block;
    padding: 8px;
    margin-top: 20px;
    border-radius: 5px;
    background: #305DB8;
}

.button-name {
    float: right;
    margin-top: 7px;
    margin-right: 4px;
    color: white;
    text-decoration: none;
}

.button-name::before {
    content: '';
    border-left: 1px solid black;
    width: 19px;
    margin: 20px;
    opacity: 0.1;
}

.img-facebook {
    display: inline-block;
    margin-top: 7px;
    margin-left: 12px;
    width: 16px;
    padding: 10px;
    background: url("../img/facebook and google.png") -9px -26px;
}

.google-button-form {
    display: inline-block;
    padding: 9px;
    background: #DF4A32;
    border-radius: 5px;
}

.google-button-name::before {
    content: '';
    border-left: 1px solid black;
    width: 19px;
    margin: 20px;
    opacity: 0.1;
}

.google-img {
    display: inline-block;
    margin-top: 6px;
    margin-left: 13px;
    width: 25px;
    padding: 10px;
    background: url("../img/facebook and google.png") -9px 1px;
}

.divider-form {
    text-align: center;
    font-size: 14px;
    color: #848484;
    margin-bottom: 20px;
}

.divider-form::before {
    content: '';
    display: inline-block;
    width: 147px;
    border: 3px solid transparent;
    border-top: 1px solid black;
    opacity: 0.1;
}

.divider-form::after {
    content: '';
    display: inline-block;
    width: 147px;
    border: 3px solid transparent;
    border-top: 1px solid black;
    opacity: 0.1;
}

.input-form {
    width: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 17px 18px;
    margin-bottom: 16px;
    font-size: 14px;
    color: black;
    outline: none;
}

.input-form:focus {
    transform: translateY(-7px);
    box-shadow: 0 3px 8px rgb(41, 40, 46);
}

.form-checkbox {
    display: inline-block;
}

.form-checkbox-text {
    display: inline-block;
    font-size: 14px;
    color: #434343;
}

.form-checkbox-link {
    color: #3CB878;
    text-decoration: none;
}

.form-footer {
    width: 100%;
    text-align: center;
    padding: 18px;
    display: inline-block;
    margin-top: 20px;
    border: 0;
    background-color: #3CB878;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}