.btn {
   border: 0;
   cursor: pointer;
 
   &--std {
     padding: 5px;
     color: black;
     font-weight: 500;
     margin-bottom: 5px;
     font-size: 1.25em;
     border: 1px solid black;
   }
 
   &--cart {
     padding: 10px;
     color: darkblue;
     font-weight: 700;
     margin-bottom: 15px;
     font-size: 1.25em;
     border: 1px solid gray;
     border-radius: 10px;
 
     &-modal {
       box-sizing: border-box;
       min-width: 120px;
       background: rgba(0,0,0,0.55);
       padding: 5px 30px;
       font-size: 1.5em;
       border-radius: 5px;
       color: #ffffff;
 
       &:first-of-type {
         margin-right: 25px;
      }
     }
   }
 }
 