.close-btn {
   position: absolute;
   right: 15px;
   top: 50%;
   transform: translateY(-50%);
   width: 20px;
   height: 20px;
   cursor: pointer;
 
   &::after {
     content:'';
     position: absolute;
     bottom: 8px;
     left: 7px;
     width: 20px;
     height: 20px;
     border-left: 3px solid red;
     transform: rotate(-45deg);
   }
   &::before {
     content:'';
     position: absolute;
     top: 6px;
     left: 7px;
     width: 20px;
     height: 20px;
     border-left: 3px solid red;
     transform: rotate(45deg);
   }
 }
 