.catalog {
   padding: 20px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 20px;
   align-items: center;
   justify-items: center;
   background: linear-gradient(30deg, rgb(12, 12, 33) 0%, rgba(0,0,0,1) 100%);
}
 