.page-bg {
    height: 100vh;
    background: url('../img/background.png') 0 0/cover no-repeat;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1028px;
    margin: 0 auto;
}

.navbar {
    margin: 30px auto;
}

.navbar-logo {
    float: left;
    text-decoration: none;
}

.navbar-logo-img {
    background: url("../img/logo.png");
    display: inline-block;
    width: 53px;
    height: 47px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.navbar-logo-text {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    font-size: 29px;
}

.navbar-logo-bottomtext{
    display: block;
    font-size: 18px;
    line-height: 1.3;
}

.navbar-logo:hover .navbar-logo-img {
     background-image: url("../img/logo 2.png");
 }

.navbar-logo:hover .navbar-logo-text {
    color:#F26522;
}

.navbar-contacts {
    float:right;
    text-align: right;
    font-size: 18px;
    line-height: 1.5;
}

.navbar-email {
    display: block;
    color: white;
    text-decoration: none;
}

.navbar-telephone {
    color: white;
    display: inline-block;
    text-decoration: none;
}

.navbar-telephone:hover {
    color:#F26522;
}

.navbar-email:hover {
    color:#F26522;
}

.tour-gallery {
    width: 300px;
    float: left;
    text-decoration: none;
    margin-right: 57px;
    margin-bottom: 40px;
}

.tour-gallery-item1 {
    padding-top: 150px;
    background: url("../img/touritem1.png") center no-repeat;
}

.tour-gallery-item2 {
    padding-top: 150px;
    background: url("../img/touritem2.png") center no-repeat;
}

.tour-gallery-item3 {
    padding-top: 150px;
    background: url("../img/touritem3.png") center no-repeat;
}

.tour-gallery-item4 {
    padding-top: 150px;
    background: url("../img/touritem4.png") center no-repeat;
}

.tour-gallery-item5 {
    padding-top: 150px;
    background: url("../img/touritem5.png") center no-repeat;
}

.tour-gallery-item6 {
    padding-top: 150px;
    background: url("../img/touritem6.png") center no-repeat;
}

.tour-gallery:nth-child(3n) {
    margin-right: 0;
}

.tour-img {
    width: 100%;
}

.tour-text {
    text-align: center;
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.tour-info {
    background: #F26522;
    opacity: 0;
    padding: 10px;
}

.tour-info-price {
    color: white;
    display: inline-block;
    font-size: 20px;
    margin: 7px 0 0 16px;
}

.tour-info-details {
    float: right;
    margin-top: 26px;
    font-size: 14px;
    color: white;
}

.tour-info-price::before {
    content: 'from';
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
}

.tour-info-details::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 20px;
    border: 1px solid transparent;
    border-top-color: white;
    border-right-color: white;
    transform: rotate(45deg);
}

.tour-gallery:hover .tour-info {
    opacity: 1;
}
.tour-gallery:hover .tour-text {
    color: #F26522;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.footer-zone {
    padding: 20px 0;
}

.footer-text {
    color: white;
    font-size: 12px;
    text-align: center;
}
