@import "src/components/Catalog/Catalog";

.empty-cart {
  @extend .catalog;
  display: block;

  &__text {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: white;
  }
}