.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

.btn {
    width: 120px;
    margin-right: 160px;
    background-color: teal;
    border-radius: 5px;
    color: #EEE;
}