.product-item {
  position: relative;
  max-width: 350px;
  border-radius: 7px;
  background-color: rgba(198, 198, 198, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color .25s;

  &:hover {
    background-color: rgba(193, 193, 193,0.95);
  }
  &__image {
    width: 350px;
    height: 250px;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px 7px 0 0;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  &__description {
    align-self: flex-start;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
  }

  &__code {
    display: block;
    font-size: .75em;
    font-weight: 700;
    color: #6a6c6c;
    margin-bottom: 5px;
  }

  &__color {
    @extend .product-item__code;
    font-size: 20px;
    font-weight: 500;
    color: #1f1c1c;
  }

  &__price {
    @extend .product-item__color;

    &-sum {
      font-size: 25px;
      font-weight: 700;
      color: #070f38;
    }
  }

}