* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-link {
    font-size: 80px;
    margin: 0 0 30px;
    text-decoration: none;
    color: black;
}

.header-link-color {
    color: aqua;
}

.navbar {
    text-align: center;
    display: inline-block;
    background: #35444F;
}

.navbar-link {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    padding: 25px;
    border-left: 1px solid black;
    color: white;
}

.navbar-link-last {
    border-right: 1px solid black;
}

.page-content {
    margin-top: 40px;
}

.list-with-stroke {
    display: inline-block;
    margin-right: 30px;
    list-style: none;
    border: 1px solid #000000;
    vertical-align: top;
}
.list-link {
    width: 310px;
    display: inline-block;
    text-decoration: none;
    font-size: 27px;
    padding: 25px;
    color: #485863;
}

.list-link:hover {
    display: block;
    background: #DBDBDB;
}

.image-frame {
    border: 1px solid #000000;
    padding: 75px 300px;
}

.main-image {
    width: 100%;
    transition: 1s;
}

.main-image:hover {
    transform: scale(1.2);
}

.main-content {
    display: inline-block;
    width: 880px;
}

.main-text {
    font-size: 18px;
    margin: 30px auto;
    line-height: 1.5;
}

.footer-zone {
    box-sizing: border-box;
    padding: 25px 30px;
    background: rgba(99, 105, 110, 0.48);
}

.navbar-bottom {
    display: inline-block;
}

.navbar-bottom-link {
    text-decoration: none;
    font-size: 28px;
    margin: 0 15px;
    color: #0C1927;
}

.copyright {
    display: inline-block;
    font-size: 24px;
    margin-left: 80px;
}
