.header {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.main-menu {
    width: 100%;
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu-left {
    display: flex;
    padding-left: 30px;
}

.main-menu-logotext {
    font-weight: bold;
    font-size: 22px;
    padding-left: 30px;
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: center;
}

.navbar-item {
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 35px;
    text-decoration: none;
    color: white;
}

.navbar-item:hover {
    color: #14B9D5;
}

.main-menu-search {
    padding: 20px;
}

.main-menu-search:hover {
    background: #000000;
}

.header-info {
    display: flex;
    justify-content: center;
}

.header-image {
    position: relative;
    width: 100%;
    height: 330px;
}

.header-text {
    position: absolute;
    padding-top: 160px;
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
    color: white;
}

.buttons {
    margin-top: 240px;
    position: absolute;
}

.first-button {
    margin-right: 20px;
    padding: 19px;
    font-size: 18px;
    background: #89CA62;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.second-button {
    padding: 19px 27px;
    font-size: 18px;
    background: #14B9D5;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.most-popular {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.most-popular-text {
    margin-top: 50px;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}

.most-popular-item1 {
    justify-content: center;
}